
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&display=swap');


:root{
    --primary-color:#202020;
    --secondary-color:#F4F7FC;
    --grey:#a6a6a6;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;

}

*,
::before,
::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

body{
    font-family: 'Mulish',sans-serif;

}

h1,h2,h3{
    font-family: 'Playfair Display',serif;
    font-weight: 800;
    color: var(--primary-color);
    margin: 1.6rem 0;
    line-height: 42px;

}

p{
    font-weight: 400;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    color:var(--primary-color);
    line-height:1.5;
    font-family: sans-serif;

}

h1{
    font-size: 4rem;

}



@media only screen and (max-width:768px){
    h1{
    font-size: 3rem;
    
    }
    }
    h2{
      font-size: 3rem;
      letter-spacing: 1.5px;  
    } 
    h3{
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    }
    h4{
        font-size: 1.6rem; 
    }
    span{
        color: var(--grey);
    
    }
    a{
        text-decoration: none;
        margin: 1.6rem 0;
        color: var(--grey);
        font-size: 1.6rem;
        border-bottom: 2px dotted var(--primary-color);
    
    }



    
.site-container{
    width: 80%;
    margin: 0 auto;
}
img{
    max-width: 100%;
    height: auto;
}
hr{
    margin: 16px 0;

}

.scroll-top{
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    background-color: #212124;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 800;



}

/* Navigation */

nav{
    position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between; 
}

nav .menu a{
    border-bottom: none;
    color: var(--primary-color);
    font-weight: 700;
    margin-left:24px  ;

}

.mobile-menu{
    display: none;
}

.menu a:hover{
    color: rgb(97, 97, 241);
    transition: color 0.4s;
}

@media only screen and (max-width: 768px){
    .mobile-menu{
        display: block;
        font-size: 24px;
    }
    .menu{
        position:absolute;
        background-color: rgb(31, 26, 26);
        width: 100%;
        top: 100%;
        z-index: 99;
        display: none;
      



    }
.menu a{
    padding: 32px 0;
    font-size: 18px;
    display: block;
    color: white;

}
.show{
    display: block;

}
nav .menu a{
    color: white;
}
}

 
.blogsite-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19rem 0rem;
 } 

.blogsite-content{
    /* background-color: aqua; */
    width: 73%;
    padding: 31px 23px 23px;
    margin: 7rem;
    /* font-size: 19px;
    line-height: 40px; */
    
 } 

.title{
    /* background-color: blue; */
    width: 74%;
}

h2 {
    font-size: 3rem;
    letter-spacing: 1.5px;
}
h3{
    font-size: 3rem;
    letter-spacing: 1.5px;
    line-height: 43px;
}

.author{
    font-size: 12px;

}

.sam-content{
    font-size: 17px;
    line-height: 32px;
}

@media screen and (max-width:768px){
    .blogsite-container{
        width: 100%;
    }
    .blogsite-content{
        width: 87%;
    }
    .sam-content{
        font-size: 15px;

    }
    .blog-img{
        width: 80%;
    }
}


footer{
    background-color: #212124;
    margin-top: 100px;
    padding: 100px 0;

}


footer h3{
    color: #fffffc;

}

footer p,span,a{
    color:#9B9CA1;

}

.footer-top{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    grid-gap: 16px;
    justify-items: center;

}

footer hr{
    margin: 60px 0;


}

.footer-bottom{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-menu li{
    list-style-type: none;
    display: inline-block;
    margin-top: 16px;
    /* margin-left: 3px; */
}

.social-icons i{
    color: var(--secondary-color);
    font-size: 16px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    padding: 8px;


}

@media screen and (max-width:768px){
    .footer-top{
        grid-template-columns: 1fr;
        justify-items: start;

    }
    
}



